<h2>Contacto</h2>
<form id="contact">
	<fieldset>
		<legend>Preguntas y Direcciones</legend>
		
		<fieldset id="mapa" class="halves">
			<legend>Direcci&oacute;n y Mapa</legend>
			
			<strong>
				<p class="adr">
					<span class="line"><span class="street-address">BPO Nautica</span></span>
					<span class="line"><span class="street-address">Amarre 2801</span></span>
					<span class="line"><span class="postal-code">08005 </span><span class="locality">Barcelona</span></span>
				</p>

				<ul>
					<li class="num">Tel: 93 224 71 27</li>
					<li class="num">Fax: 93 224 71 29</li>
				</ul>
			</strong>
			
			<iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps?f=d&amp;source=s_d&amp;saddr=Moll+de+Mestral&amp;daddr=&amp;geocode=FciJdwIdpJIhAA&amp;hl=es&amp;mra=mr&amp;sll=41.388529,2.200313&amp;sspn=0.004419,0.009645&amp;ie=UTF8&amp;ll=41.387934,2.196386&amp;spn=0.006439,0.008562&amp;z=16&amp;output=embed"></iframe><br /><small><a href="http://maps.google.es/maps?f=d&amp;source=embed&amp;saddr=Moll+de+Mestral&amp;daddr=&amp;geocode=FciJdwIdpJIhAA&amp;hl=es&amp;mra=mr&amp;sll=41.388529,2.200313&amp;sspn=0.004419,0.009645&amp;ie=UTF8&amp;ll=41.387934,2.196386&amp;spn=0.006439,0.008562&amp;z=16" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
		</fieldset>
		
		<fieldset id="pongase_en_contacto" class="halves">
			<legend>Pongase en Contacto</legend>
			<p>Por favor si desea informaci&oacute;n sobre qualquiera embarcaci&oacute;n, pongase en contacto con nosotros por telefono o email: <a href="mailto:info@brokerageportolimpic.com" style="color: #AA35C8;">info@bponautica.com</a>.</p>
			<p>No olvide incluir un nombre y una manera que podemos contactarle.</p>
		</fieldset>
		
	</fieldset>
</form>